.logo-foodpanda {
    width: 200px;
    margin-top: -27px;
    cursor: pointer;
}

.mynavbar {
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.loginBtn {
    padding: 0px 7px 0px 7px;
    background-color: #e21b70;
    border-radius: 50%;
    height: 28px;
    margin-right: 7px;
    cursor: pointer;

}

.loginBtn i {
    color: white;
    cursor: pointer;
}

.CartBtn i {
    color: #e21b70;
    font-size: 22px;
    margin-top: 2px;
    cursor: pointer;
    margin-left: 20px;

}

.CartBtn {
    border-left: 1px solid rgb(226, 226, 226);
    padding: 10px;
    padding-top: 25px;

}

.Cart-and-Login {
    display: flex;
    flex-direction: row;
    /* width: 120px; */
    margin-right: 20px;
    justify-content: space-around;
    border-left: 1px solid rgb(226, 226, 226);
}

.loginText {
    font-size: 17px;
    font-weight: 600;
    color: rgb(110, 108, 108);
    cursor: pointer;

}

.loginText i {
    cursor: pointer;
}

.login {
    display: flex;
    flex-direction: row;
    padding: 20px;
    padding-top: 25px;
}

@media only screen and (max-width : 900px) {
    .loginText{
        display: none;
    }
    .CartBtn , .Cart-and-Login{
        border: none;
    }
    .loginBtn{
        margin-right: 0px;
    }
    .login{
        padding: 0px;
        padding-top: 25px;
    }
    
}