.logo-foodpanda {
    width: 200px;
    margin-top: -27px;
    cursor: pointer;
}

.mynavbar {
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: 0;
    padding: 0;
}

.loginBtn {
    padding: 0px 7px 0px 7px;
    background-color: #e21b70;
    border-radius: 50%;
    height: 28px;
    margin-right: 7px;
    cursor: pointer;

}

.loginBtn i {
    color: white;
    cursor: pointer;
}

.CartBtn i {
    color: #e21b70;
    font-size: 22px;
    margin-top: 2px;
    cursor: pointer;
    margin-left: 20px;

}

.CartBtn {
    border-left: 1px solid rgb(226, 226, 226);
    padding: 10px;
    padding-top: 25px;

}

.Cart-and-Login {
    display: flex;
    flex-direction: row;
    /* width: 120px; */
    margin-right: 20px;
    justify-content: space-around;
    border-left: 1px solid rgb(226, 226, 226);
}

.loginText {
    font-size: 17px;
    font-weight: 600;
    color: rgb(110, 108, 108);
    cursor: pointer;

}

.loginText i {
    cursor: pointer;
}

.login {
    display: flex;
    flex-direction: row;
    padding: 20px;
    padding-top: 25px;
}

@media only screen and (max-width : 900px) {
    .loginText {
        display: none;
    }

    .CartBtn,
    .Cart-and-Login {
        border: none;
    }

    .loginBtn {
        margin-right: 0px;
    }

    .login {
        padding: 0px;
        padding-top: 25px;
    }

}
.profieDropdownopt a {
    color: grey;
    font-weight: 600;
    font-size: 16px;
}
.profieDropdownopt a:hover {
    color: #e21b70;
    transition: 0.2s;
}






/* Footer */

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  
  footer .divider {
    width: 100%;
    height: 1px;
    background-color: rgba(128, 128, 128, 0.201);
    margin: 1.5rem auto;
  }
  
  /* Footer > Branding */
  footer .branding {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .branding > svg {
    width: 10rem;
  }
  
  .branding .socials {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .socials img {
    width: 30px;
    margin-left: 1rem;
  }
  
  /* Footer > Links */
  .links {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }
  
  .links .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
    line-height: 1.7rem;
  }
  
  .links a {
    text-decoration: none;
    color: rgb(137, 135, 135);
    font-weight: lighter;
    font-size: 0.9rem;
  }
  
  .links a:hover {
    color: var(--primary-color);
  }
  
  .first-col p {
    color: rgb(137, 135, 135);
    font-weight: lighter;
    font-size: 0.9rem;
  }
  
  /* Footer > Countries */
  .countries {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    margin-top: 1rem;
  }
  
  .countries a {
    text-decoration: none;
    color: rgb(137, 135, 135);
    font-weight: lighter;
  }
  
  .countries .vertical-divider {
    width: 1px;
    background-color: rgb(137, 135, 135);
    margin: 0 1rem;
    height: 18px;
  }
  
  /* Media Queries */
  @media screen and (min-width: 768px) {
    nav > .logo > svg {
      display: inline;
    }
  
    section.hero {
      padding: 0 2rem;
    }
  
    .hero .bg-wrapper {
      max-height: 900px;
    }
  
    .hero .actions {
      background-color: white;
      box-shadow: 0 0.3rem 2rem rgb(0 0 0 /10%);
      display: flex;
      padding: 1rem;
      max-width: 960px;
    }
  
    .actions input {
      box-shadow: none;
    }
  
    .actions .input-container {
      width: 80%;
    }
  
    .actions button {
      margin: 0;
      width: 15%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 1rem;
    }
  
    /* Partners Section */
    .partners .backdrop-text {
      padding: 0 3rem;
    }
  
    .partners .caption {
      padding: 0 3rem;
    }
  
    .partners .background-image {
      min-height: 404px;
    }
  
    .partners .content {
      margin: 0 3rem;
      margin-top: -20rem;
      max-width: 350px;
      padding: 2rem;
    }
  
    .content p {
      font-size: 1rem;
    }
  
    .content .header-text {
      font-size: 1.5rem;
    }
  
    .content .button {
      font-size: 1rem;
    }
  
    /* App */
    .app .container {
      min-height: 314px;
    }
  
    .app .caption {
      display: block;
    }
  
    .container .max-w-xl {
      flex-direction: row-reverse;
    }
  
    .container .content-container {
      width: 55%;
      text-align: left;
      margin-right: auto;
      justify-content: flex-start;
      align-items: flex-start;
      display: flex;
      flex-direction: column;
    }
  
    .container .image-container {
      width: 45%;
      text-align: right;
      max-height: 480px;
    }
  
    .image-container img {
      min-width: 500px;
    }
  
    .content-container .sub-heading {
      font-size: 1.8rem;
    }
  
    .content-container .buttons-container {
      margin-top: 1rem;
    }
  }
  
  @media screen and (min-width: 960px) {
    nav > .profile-icon-medium {
      display: none;
    }
  
    nav .login-btn {
      display: inline-flex;
    }
  
    .hero .bg-wrapper {
      max-height: 400px;
    }
  
    /* Partners Section */
    .partners .content {
      max-width: 450px;
    }
  
    /* Cities */
    .cities .container {
      flex-wrap: wrap;
      overflow: hidden;
      justify-content: space-evenly;
    }
  
    /* App */
    .app .container {
      padding: 0 2rem;
    }
  
    .image-container img {
      min-width: 600px;
    }
  
    .content-container .buttons-container {
      margin-top: 2rem;
    }
  
    /* Links */
    .links {
      flex-direction: row;
      justify-content: space-between;
    }
  
    .links .col {
      align-items: start;
      justify-content: start;
    }
  }
  
  @media screen and (min-width: 1264px) {
    .hero .bg-wrapper {
      max-height: 500px;
    }
  
    .hero h3 {
      font-size: 2.8rem;
    }
  
    /* Partners Section */
    .partners .content {
      max-width: 600px;
      text-align: right;
    }
  
    .content button {
      max-width: 240px;
      margin-top: 2rem;
    }
  
    .content p {
      text-align: left;
    }
  
    .partners .backdrop-text {
      font-size: 10rem;
      top: -130px;
      left: -40px;
    }
  
    .partners .caption {
      font-size: 1.5rem;
    }
  }
  
  @media screen and (min-width: 1440px) {
    .hero .bg-wrapper {
      max-height: 550px;
    }
  }
  .st1 {
    fill: rgba(128, 128, 128, 0.473);
}
.foooterIcons{
    cursor: pointer;
}
.footerIcons:hover{
    color: #e21b70;
}


/* Partners Section */
.partners {
    margin: 4rem 0;
    position: relative;
  }
  
  .partners .backdrop-text {
    padding: 0 2rem;
    font-size: 4.5rem;
    color: rgba(188, 186, 186, 0.12);
    font-weight: 900;
    position: absolute;
    top: -40px;
    left: -10px;
    z-index: -2;
  }
  
  .partners .caption {
    padding: 0 2rem;
    font-size: 1.2rem;
    margin-bottom: 0.3rem;
  }
  
  .partners .background-image {
    background: url("./partner-bg.png");
    min-height: 280px;
    background-size: cover;
    height: 100%;
    background-position: center;
    z-index: -1;
  }
  
  .partners .content {
    background-color: white;
    box-shadow: 0 2px 28px 0 rgb(0 0 0 / 12%);
    margin: 0 1rem;
    margin-top: -4rem;
    padding: 1rem;
  }
  
  .content p {
    font-size: 0.9rem;
    color: rgb(176, 174, 174);
  }
  
  .content .header-text {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    color: rgb(18, 17, 17);
  }
  
  .content button {
    background-color: var(--primary-color);
    margin-top: 1rem;
    color: white;
    border: none;
    padding: 0 5rem;
    height: 50px;
    width: 100%;
    border-radius: 8px;
    font-size: 0.8rem;
    font-weight: 300;
    cursor: pointer;
  }
  
  /* Cities */
  
  .cities {
    margin-top: 8rem;
  }
  
  .cities .container {
    display: flex;
    flex-wrap: nowrap;
    padding: 1rem;
    overflow-x: scroll;
    justify-content: start;
    align-items: center;
  }
  
  .container .card {
    height: 272px;
    min-width: 230px;
    max-width: 230px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin-right: 1rem;
    margin-top: 1rem;
    cursor: pointer;
  }
  
  .card img {
    width: 100%;
    height: 100%;
    transform: scale(1.1);
    transition: all 0.3s ease;
  }
  
  .card img:hover {
    transform: scale(1.2);
  }
  
  .card p {
    position: absolute;
    bottom: 10px;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    left: 30px;
  }
  
  /* App */
  .app {
    margin-top: 10rem;
  }
  
  .app .caption {
    display: none;
  }
  
  .app .backdrop-text {
    z-index: 1;
  }
  
  .app .container {
    background: #e21b70;
    min-height: 485px;
    z-index: -1;
  }
  
  .container .max-w-xl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: left;
    padding: 1rem;
  }
  
  .container .image-container {
    position: relative;
    max-width: 424px;
    min-height: 250px;
    width: 100%;
    text-align: center;
  }
  
  .image-container img {
    position: absolute;
    width: 100%;
    max-width: 424px;
    z-index: 2;
    top: -80px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  
  .content-container .sub-heading {
    width: 100%;
    font-size: 1.2rem;
    margin-top: 1rem;
  }
  
  .content-container .text {
    font-size: 0.9rem;
    margin: 1rem 0;
  }
  
  .content-container .buttons-container {
    display: flex;
    justify-content: center;
  }
  
  .buttons-container .center-svg {
    margin: 0 1rem;
  }
  
  /* Office */
  .office {
    margin-top: 10rem;
  }
  
  .office .background-image {
    background: url("./office-bg.png");
    min-height: 280px;
    background-size: cover;
    height: 100%;
    background-position: center;
    z-index: -1;
  }
  
  .office .content {
    margin-top: -10rem !important;
  }
  
  /* FAQ */
  
  .FAQ {
    padding: 1rem;
    margin-top: 10rem;
    width: 100%;
  }
  
  .FAQ .heading {
    font-size: 2rem;
    margin-top: 1.5rem;
    font-weight: bold;
    line-height: 2.1rem;
  }
  
  .FAQ .text {
    margin-top: 1.5rem;
    font-weight: lighter;
    font-size: 1rem;
    line-height: 1.8rem;
  }
  
  .FAQ .text > a {
    text-decoration: none;
    color: var(--primary-color);
  }
  
  .FAQ .list {
    list-style-type: none;
    width: 100%;
    margin-top: 1.5rem;
  }
  
  .FAQ .list > li {
    width: 100%;
    font-weight: lighter;
    line-height: 1.8rem;
  }
  
  .FAQ li > span {
    color: var(--primary-color);
  }
  
  .FAQ .divider {
    width: 100%;
    height: 1px;
    background-color: rgba(128, 128, 128, 0.201);
    margin-top: 1.5rem;
  }
  
  .FAQ .sub-heading {
    margin-top: 1.5rem;
    font-size: 1.3rem;
    font-weight: bolder;
  }
  
  .FAQ .bold-text {
    margin-top: 1.5rem;
    font-weight: bold;
    font-size: 1.1rem;
  }
  
  .FAQ .indented {
    padding-left: 2rem;
  }

  .loginText{
    color: rgb(44, 44, 44);
  }

  







  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
  }
  .card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
  }
  .card-title {
    margin-bottom: 0.75rem;
  }
  .card-text {
    flex: 1 1 auto;
    margin-top: 0;
    margin-bottom: 1rem;
  }
  .card-actions {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.03);
    padding: 0.75rem 1.25rem;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
  }
  .dropdown-toggle-split {
    padding-right: 0.625rem;
    padding-left: 0.625rem;
  }
  .dropdown-toggle-split::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
  }
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    max-height: 350px;
    overflow-y: auto;
  }
  .dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background: 0 0;
    border: 0;
  }
  .dropdown-item:hover,
  .dropdown-item:focus {
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa;
  }