.resturantNameHeading h1 {
    font-family: 'boldFont';
    font-size: 65px;
    font-weight: 900;
    color: black;
    text-align: center;
    color: #d12b73;
    text-shadow: 0 2px 1px #d12b73,
        -1px 3px 1px #d12b73,
        -2px 5px 1px #d12b73;
}

.resturantNameHeading h1 span {
    color: black;
    text-shadow: 0 2px 1px black,
        -1px 3px 1px black,
        -2px 5px 1px black;
    text-decoration: underline;
}








.allItems {
    width: 90%;
    margin: 30px auto;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.item {
    display: flex;
    width: 45%;
    height: 140px;
    flex-direction: row;
    /* border: 1px solid #d12b73; */
    border-radius: 20px;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.itemImg {
    width: 27%;
    height: 90%;
    margin: 7px 10px;
}

.itemImg img {
    width: 100%;
    height: 100%;
    border-radius: 5px;

}

.itemDetail {
    width: 60%;
    height: 100%;
    padding-top: 7px;
}

.itemDetail h4,
p {
    line-height: 0.9em;
}


@media only screen and (max-width:1100px) {
    .allItems {
        width: 90%;
        margin: 30px auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .item {
        display: flex;
        width: 90%;
        margin: 0 auto;
        height: 140px;
        flex-direction: row;
        border-radius: 20px;
        margin-top: 20px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    }
}



@media only screen and (max-width:550px) {
    .item {
        height: 160px;
        width: 98%;
    }

    .itemDetail p {
        line-height: 1.3em;
    }
}


/*  */
.restCover {
    width: 100%;
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20% 100%;
}

.dashBtn {
    float: right;
    margin-right: 100px;
}

.dashBtn button {
    background-color: #d12b73;
    border: none;
    outline: none;
    color: white;
    padding: 10px;
    border-radius: 8px;
    margin-top: 10px;
}

.dashBoardItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    border-radius: 5px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;

}