.adItemDiv {
    margin: 30px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: auto;
    width: 100%;
    max-width: 100%;
}

@media only screen and (max-width : 410px) {
    .adItemDiv {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .adItemDiv h1 {
        text-align: center;
    }

    .addItemBtn {
        width: 90%;
        margin: 0 auto;

    }
}

.adItemDiv h1 {
    font-size: 28px;
    font-family: fantasy;
}

.addItemBtn,
.createItemBtn {
    border-radius: 7px;
    outline: none;
    border: none;
    color: grey;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    background-color: #e21b70;
    color: white;
    padding: 0px 30px;
    border: 1px solid #e21b70;

}

.addItemBtn:hover,
.createItemBtn:hover {
    background-color: #ffeaf2;
    color: #e21b70;
    transition: 0.25s;
    border: 1px solid #e21b70;
}

.addItemModalInp {
    width: 100%;
    /* left: 5%; */
}

.inpDivModalAddItem {
    margin-top: 30px;
}

.createItemBtn {
    padding: 8px 18px;
}

.myResturantItems {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    margin: 10px auto;
    justify-content: space-around;
}